# Your GitHub organization and access token should be set in the .env file.
# You can copy this .env.example file and fill in the values.

# The organization name where the runner will be registered.
ORG=

# A GitHub personal access token with the "Self-Hosted runners" (write access) scope for the organization.
ACCESS_TOKEN=
